# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Added by cargo
/target
/pkg

# CLJS
*~
.idea
/.DS_Store
.DS_Store
/classes
/lib
/target
closure
/core.js
/coreadvanced.js
/coresimple.js
/out
*out
.lein*
*.iml
.repl*
*.swp
*.zip
clojurescript_release_*
closure-release-*
.lein-repl-history
.nrepl-port
.nrepl-repl-history
builds
.cljs*
node_modules
nashorn_code_cache
src/main/cljs/cljs/core.aot.js
src/main/cljs/cljs/core.aot.js.map
src/main/cljs/cljs/core.cljs.cache.aot.edn
src/main/cljs/cljs/core.cljs.cache.aot.json
.node_repl
package.json
package-lock.json
.cpcache
resources/brepl_client.js

.shadow-cljs
public/js
